<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <title>Cineplex Clone Ticket</title>
    <style>
      *{ box-sizing: border-box; } body { font-family: "Open Sans", sans-serif
      !important; display: flex; align-items: center; justify-content: center; }
      .container { margin: 40px 0 100px 0; display: flex; flex-direction:
      column; align-items: center; justify-content: center; max-width: 800px
      !important; } p { font-size: 18px; } td{ padding: 10px 0; vertical-align:
      text-bottom } .image-header { display: flex; flex-direction: column;
      align-items: center; justify-content: center; max-width: 800px !important;
      padding: 20px 0px; } .grid { display: grid; grid-template-columns: 1fr
      1fr; grid-template-rows: auto; } .movie-container { display: grid;
      grid-template-columns: 1fr 1fr; } .order-details { } .data-right {
      text-align: end; } .qr-container{ display: flex; } a{ color: #cb3649; }
      .wide{ width: 100%; }
    </style>
  </head>

  <body>
    <div class="container">
      <table style="width: 100%">
        <tbody>
          <tr>
            <td>
              <img
                src="https://res.cloudinary.com/dfcaehp0b/image/upload/v1653424467/R_okg9gj.png"
                alt="cineplex"
                width="250px"
                style="padding-bottom: 20px"
              />
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="wide">
                Thanks for choosing Cineplex,
                {{firstName}}! Here are you order details
              </h3>
            </td>
          </tr>
          <tr>
            <td><h2 class="wide">Receipt for Order #{{orderId}}</h2></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="order-details">
      <h3>Client Information</h3>
      <table style="width: 60%">
        <tbody>
          <tr>
            <td>Full Name</td>
            <td class="data-right">
              {{firstName}}
              {{lastName}}
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td class="data-right">{{email}}</td>
          </tr>
          <tr>
            <td>Client Since</td>
            <td class="data-right">{{createdAt}}</td>
          </tr>
        </tbody>
      </table>
      <div class="ticket-details">
        <h3>Order Information</h3>
        <table style="width: 60%">
          <tbody>
            <tr>
              <td>Movie</td>
              <td class="data-right">
                {{movieName}}
              </td>
            </tr>
            <tr>
              <td>Movie Screen time</td>
              <td class="data-right">{{runtime}} Minutes</td>
            </tr>
            <tr>
              <td>Theatre</td>
              <td class="data-right">
                {{theatreName}}
              </td>
            </tr>
            <tr>
              <td>Theatre Address</td>
              <td class="data-right" style="max-width:400px ;">
                {{theatreAddress}}
                {{theatreCity}}
                {{theatrePostalCode}}
                {{theatreCountry}}
              </td>
            </tr>

          </tbody>
        </table>
        <table style="width: 60%">
          <tbody>
            <tr>
              <td>Sub Total</td>
              <td class="data-right" style="max-width:400px ;">
                {{subTotal}}
              </td>
            </tr>
            <tr>
              <td>Service Charge</td>
              <td class="data-right" style="max-width:400px ;">
                {{serviceCharge}}
              </td>
            </tr>
            <tr>
              <td>Tax</td>
              <td class="data-right" style="max-width:400px ;">
                {{tax}}
              </td>
            </tr>
          </tbody>
        </table>
        <table style="width: 60%">
          <tbody>
            <tr>
              <td style="font-weight: bolder;">Total</td>
              <td
                class="data-right"
                style="max-width:400px ; font-weight: bolder"
              >
                {{total}}
              </td>
            </tr>
          </tbody>
        </table>
        <table style="width: 60%">
          <tbody>
            <tr>
              <td>Follow link to see Receipt</td>
              <td
                class="data-right"
                style="max-width:400px ; font-weight: bolder"
              >
                <a href={{event}} target="_blank">Click Here</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 style="margin-top: 60px;">
        Ticket
      </h2>
      <div class="qr-container">
        <img
          src="https://res.cloudinary.com/dfcaehp0b/image/upload/v1653694533/qr_vnej0m.png"
          alt="qr"
          width="250px"
        />
        <div
          style="width: 100%; padding: 0px 20px; display: flex; flex-direction: column; justify-content: space-between;"
        >
          <div>
            <p style="font-size: 55px; margin: 0;">Seats</p>
            <p style="font-size: 55px; margin: 0;">{{seats}}</p>
          </div>
        </div>
      </div>
      <div style="max-width: 600px; margin-top: 30px; color: grey;">
        Disclaimer: This is not official cineplex website or cineplex ticket,
        this application is only made for educational purpose.
      </div>
      <div>
        <p class="wide">
          Star Github Repository
          <a href="https://github.com/vars7899/cineplex-clone">Here</a>
        </p>
      </div>
      <div>
        <p class="wide">
          Created by <a href="https://github.com/vars7899">Vaibhav Dhiman</a>
        </p>
      </div>
    </div>
  </body>
</html>